body {
  /*background-image: url("../src/images/pana.png") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;*/
}
.div_back {
  background-image: url("../src/images/pana.png") !important;
}
.logo_home {
  width: 350px;
  max-width: 80%;
  border-radius: 20px;
}
.logo_gov {
  width: 350px;
  max-width: 80%;
  border-radius: 20px;
}
.logo_text {
  font-size: 25px;
  font-weight: normal;
}
.issue_but {
  background-color: #050c44;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: #fff;
  width: 100% !important;
  white-space: nowrap;
  overflow: hidden;
}
.delete_but {
  background-color: #fd3e3e;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: #fff;
  width: 100% !important;
  white-space: nowrap;
  overflow: hidden;
}
.status_div {
  background-color: black;
  width: 100%;
}
.status_text {
  color: #fff;
  font-size: 20px;
  padding: 10px;
}
.table_header {
  font-size: 20px;
  font-weight: normal;
}
table,
tr,
td,
th {
  border-spacing: 2px;
  border: 1px solid #000;
}
td {
  padding: 10px;
}
.custom_table {
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
.date_input {
  height: 30px !important;
  font-size: 15px !important;
  text-align: center !important;
  border-radius: 5px !important;
  border: 1px solid #aaa !important;
  padding: 5px !important;
  width: 80% !important;
}
.date_input_pass {
  height: 30px !important;
  font-size: 15px !important;
  text-align: center !important;
  border-radius: 5px !important;
  border: 1px solid #aaa !important;
  padding: 5px !important;
  width: 80% !important;
}
.date_input_text {
  font-size: 15px !important;
}
.div_button {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  margin: 5px;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
}
.div_button_active {
  background-color: #050c44 !important;
  color: #fff !important;
}
.download_text {
  font-size: 15px;
  color: #000;
}
.download_text_link {
  font-size: 15px;
  color: #050c44;
}
.file_choose {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  border-radius: 36px;
  background-color: #d6d6d6;
  color: #4857d9;
}
.div_cred_type {
  border-radius: 17px;
  border: 5px solid #050c44;
  padding: 10px;
}
.hr_line {
  border: 1px solid #ddd !important;
}
.container {
  overflow: hidden;
}
